html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #edeef3;
}

* {
    font-family: 'Open Sans';
}

.navbar .navbar-brand {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    /* font-weight: 500; */
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    color: #00989b;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #00c5c9;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background: #00989b !important;
    color: white !important;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.text-main {
    color: #00989b !important;
}

.bg-main {
    background: rgb(0, 152, 155);
    background: linear-gradient(152deg, rgba(0, 152, 155, 1) 0%, rgba(95, 213, 215, 1) 100%);
}

@keyframes float {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }

    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }

    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }

    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.banner-img {
    transform: translateX(calc(+10.75% + 2em));
    animation: float 6s ease-in-out infinite;
}

.py-10 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mt-n6 {
    margin-top: -6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.card {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25) !important;
}

.bg-red {
    background: #e8553e;
}

.bg-green {
    background: #89c053;
}

.bg-gray {
    background: #636c77;
}

.bg-blue {
    background: rgb(3, 81, 181);
}

.bg-yellow {
    background: #fb9005;
}

.text-white-sem {
    color: #ffffffc2;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-warning:hover {
    color: #212529;
    background-color: #ffda07;
    border-color: #ffda07;
}

.bottomdiv {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-cp {
    position: absolute;
    bottom: 0;
    right: 0;
}

figure.image img {
    max-width: 100% !important;
}

oembed {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 576px) {
    .mt-n6 {
        margin-top: -2rem;
    }

    .mt-7 {
        margin-top: 5rem;
    }

    .footer-cp {
        position: relative !important;
        text-align: center !important;
    }

    oembed {
        width: 100%;
    }
}

#installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
}

.tgl {
    background-color: #00c5c9;
    color: white;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

.no-style {
    text-decoration: none;
    color: #212529;
}

.no-style:hover {
    text-decoration: none;
    color: #212529;
}

.no-style:visited {
    text-decoration: none;
    color: #212529;
}

.no-style:active {
    text-decoration: none;
    color: #212529;
}



body {
    padding-top: 40px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-collapse {
        max-height: none;
    }

    body {
        margin-top: 30px;
    }

}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
